<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression tests">
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="com.learning.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->